header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  flex: 5;

  color: var(--text-flip, var(--text-primary));
  font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
}

fieldset {
  flex: 4;
  max-width: 10rem;

  display: flex;
  align-items: end;
  justify-content: space-between;
}

legend {
  flex: 5;

  float: inline-start;
  color: var(--text-flip, var(--text-primary));
  text-transform: uppercase;

  font-size: small;
}

.switch {
  flex: 4;

  position: relative;
  display: flex;

  border-radius: 9999px;
  background-color: var(--bg-switch);

  --padding-x: 0.4rem;
  padding-inline: var(--padding-x);
  padding-block: calc(3 / 4 * var(--padding-x));
}

.switch input {
  cursor: pointer;
  height: 1rem;
  opacity: 0;
  flex: 1;
}

.switch label {
  position: absolute;
  top: -50%;
  z-index: 1;

  color: var(--text-flip, var(--text-primary));
  cursor: pointer;

  font-size: small;
  padding-inline: 12%;
}

.ball {
  padding: 12%;

  position: absolute;
  top: 50%;

  background-color: var(--bg-key-accent);
  border-radius: 9999px;

  transition: left 300ms ease-in-out, transform 500ms ease-out,
    background-color 200ms ease-in;
}

.ball:hover {
  background-color: hsl(from var(--bg-key-accent) h calc(s + 20) calc(l + 20));
}

.theme-1 + label,
.theme-1:checked ~ .ball {
  left: var(--padding-x);
  transform: translate(0, -50%);
}

.theme-2 + label,
.theme-2:checked ~ .ball {
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-3 + label,
.theme-3:checked ~ .ball {
  left: calc(100% - var(--padding-x));
  transform: translate(-100%, -50%);
}
