.container {
  margin-inline: auto;
  max-width: 33.75rem;
  min-height: inherit;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  flex: 5;

  color: var(--text-white);
  font-size: clamp(2.4rem, 1.9246rem + 2.0282vw, 3.75rem);
}

fieldset {
  flex: 4;

  display: flex;
  align-items: end;
  justify-content: space-between;
}

legend {
  flex: 5;

  float: inline-start;
  color: var(--text-white);
  text-transform: uppercase;

  font-size: small;
}

.theme-switch {
  flex: 4;

  position: relative;
  display: flex;

  border-radius: 9999px;
  background-color: var(--bg-switch);

  --padding-x: 0.4rem;
  padding-inline: var(--padding-x);
  padding-block: calc(3 / 4 * var(--padding-x));
}

.theme-switch input {
  cursor: pointer;
  height: 1rem;
  opacity: 0;
  flex: 1;
}

.theme-switch label {
  position: absolute;
  top: -50%;
  z-index: 1;

  color: var(--text-white);
  cursor: pointer;

  font-size: small;
  padding-inline: 12%;
}

.ball {
  padding: 12%;

  position: absolute;
  top: 50%;
  transition: left 0.3s ease-in-out, transform 0.5s ease-out;

  background-color: var(--bg-key-accent);
  border-radius: 9999px;
}

#theme-1 + label,
#theme-1:checked ~ .ball {
  left: var(--padding-x);
  transform: translate(0, -50%);
}

#theme-2 + label,
#theme-2:checked ~ .ball {
  left: 50%;
  transform: translate(-50%, -50%);
}

#theme-3 + label,
#theme-3:checked ~ .ball {
  left: calc(100% - var(--padding-x));
  transform: translate(-100%, -50%);
}

.screen {
  display: block;
  background-color: var(--bg-screen);
  border-radius: 0.75rem;
}

.screen input {
  background-color: transparent;
  border: none;
  color: var(--text-white);

  font-size: clamp(2.4rem, 1.9246rem + 2.0282vw, 3.75rem);
  text-align: right;

  line-height: 1;
  padding: 1.5rem;
  width: 100%;
}

.keypad-wrapper {
  background-color: var(--bg-keypad);
  border-radius: 0.75rem;

  padding: 1.5rem;
}

.keypad {
  display: grid;
  gap: 0.75rem;
  /* grid-auto-rows: repeat(5, 1fr); */
  grid-template-columns: repeat(4, 1fr);
}

.keypad [data-value="reset"],
.keypad [data-value="="] {
  aspect-ratio: 2 / 1;
  grid-column: span 2 / span 2;
  padding-top: 10%;
}

.keypad [data-value="reset"],
.keypad [data-value="del"] {
  --bg-color: var(--bg-key-primary);

  background-color: var(--bg-color);
  border-color: var(--shadow-key-primary);
  color: var(--text-white);
  font-size: clamp(1.3889rem, 1.2019rem + 0.7979vw, 1.92rem);
  text-transform: uppercase;
}

.keypad [data-value="="] {
  --bg-color: var(--bg-key-accent);

  background-color: var(--bg-color);
  border-color: var(--shadow-key-accent);
  color: var(--text-white);

  font-size: clamp(1.3889rem, 1.2019rem + 0.7979vw, 1.92rem);
}

.keypad button {
  --bg-color: var(--bg-key-secondary);

  aspect-ratio: 1 / 1;
  padding-top: 20%;

  background-color: var(--bg-color);
  border-bottom: 0.15rem solid var(--shadow-key-secondary);
  border-radius: 0.25rem;
  color: var(--text-primary);

  font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);

  transition: transform 0.1s ease-out, border-bottom 0.1s ease-out;
}

.keypad button:active {
  background-color: hsl(from var(--bg-color) h calc(s + 20) calc(l + 20));
  border-bottom-width: 0.05rem;
  transform: translateY(2px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
