/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* 
  Theming
*/

:root[data-theme="1"] {
  /* Backgrounds */
  --bg-main: hsl(222, 26%, 31%);
  --bg-switch: hsl(223, 31%, 20%);
  --bg-keypad: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);

  /* Keys */
  --bg-key-primary: hsl(225, 21%, 49%);
  --shadow-key-primary: hsl(224, 28%, 35%);

  --bg-key-accent: hsl(6, 63%, 50%);
  --shadow-key-accent: hsl(6, 70%, 34%);

  --bg-key-secondary: hsl(0, 0%, 90%);
  --shadow-key-secondary: hsl(28, 16%, 65%);

  /* Text */
  --text-primary: hsl(221, 14%, 31%);
  --text-flip: hsl(0, 100%, 100%);
  --text-white: hsl(0, 100%, 100%);
}

:root[data-theme="2"] {
  /* Backgrounds */
  --bg-main: hsl(0, 0%, 90%);
  --bg-switch: hsl(0, 5%, 81%);
  --bg-keypad: hsl(0, 5%, 81%);
  --bg-screen: hsl(0, 0%, 93%);

  /* Keys */
  --bg-key-primary: hsl(185, 42%, 37%);
  --shadow-key-primary: hsl(185, 58%, 25%);

  --bg-key-accent: hsl(25, 98%, 40%);
  --shadow-key-accent: hsl(25, 99%, 27%);

  --bg-key-secondary: hsl(0, 0%, 90%);
  --shadow-key-secondary: hsl(35, 11%, 61%);

  /* Text */
  --text-primary: hsl(60, 10%, 19%);
  --text-white: hsl(0, 100%, 100%);
}

:root[data-theme="3"] {
  /* Backgrounds */
  --bg-main: hsl(268, 75%, 9%);
  --bg-switch: hsl(268, 71%, 12%);
  --bg-keypad: hsl(268, 71%, 12%);
  --bg-screen: hsl(268, 71%, 12%);

  /* Keys */
  --bg-key-primary: hsl(281, 89%, 26%);
  --shadow-key-primary: hsl(285, 91%, 52%);

  --bg-key-accent: hsl(176, 100%, 44%);
  --shadow-key-accent: hsl(177, 92%, 70%);

  --bg-key-secondary: hsl(268, 47%, 21%);
  --shadow-key-secondary: hsl(290, 70%, 36%);

  /* Text */
  --text-primary: hsl(52, 100%, 62%);
  --text-secondary: hsl(198, 20%, 13%);
  --text-white: hsl(0, 100%, 100%);
}

/* 
  Globals
*/

#root {
  min-height: 100dvh;
  min-width: 20rem;

  background-color: var(--bg-main);

  transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

button {
  border: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 0;
}
